.ressource_nr {
    color: #df523d;
}

.page {
    max-width: 1200px;
    margin: auto;
    padding: 50px;
}

.page_text {
    padding-top: 185px;
    font-size: 22px;
    text-align: center;
}

.liens_text {
    padding-top: 150px;
}





a {
    cursor: pointer;
}

.text {
    padding: 35px;
    display: flex;
    flex-direction: column;
}

.liens_grid_main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 20px;
    column-gap: 20px;
    justify-content: center;    
    margin-top: 40px;
    justify-content: space-around;
    
}

.grid_base {
    display: flex;
    border-radius: 20px;
    border: solid 5px black;
}

.ressource_grid_main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 20px;
    column-gap: 20px;
    justify-content: center;    
    margin-top: 40px;
    justify-content: space-around;
}

.fruggr {
    background-image: url('../img/Ressource_card.svg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    border-radius: 20px;
    border: solid 5px black;
}
.links_grid_para {
    padding-top: 30px;
}



.btn_link {
    position: static;
}

.access {
    cursor: pointer;
    height: 50px;
    width: 150px;
    border-radius: 30px;
    margin: auto;
    background-color: #df523d;
    color: #ffffff;
    border: none;
    transition: 0.3s ease-in;
}

.access:hover {
    transition: 0.3s ease-in;
    background-color: #b84432;
}

.access:hover {
    transition: 0.3s ease-in;
    background-color: #b84432;
}

.access a {
    color: #ffffff;
}

h2.lexique_text_title {
    padding-top: 90px;
}

h2.ressources_text_title {
    padding-top: 90px;
}



@media only screen and (max-width: 1400px) {
    .liens_grid_main {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-content: center;
        padding-top: 40px;
        justify-content: space-around;
    }
    
    .liens_text {
        margin-left: auto;
        margin-right: auto;
    }

    .links_grid_title {
        font-size: 20px;
    }

    .links_grid_para {
        font-size: 12px;    
    }


    .grid_base {
        display: flex;
        border-radius: 20px;
        border: solid 5px black;
    }
   
    
}

@media only screen and (max-width: 1200px) {
    .liens_grid_main {
        display: grid;
        grid-template-columns: 1fr 1fr ;
        justify-content: center;
        padding-top: 40px;
        justify-content: space-around;
        place-items: center;
    }

    .liens_text {
        margin-left: auto;
        margin-right: auto;
    }

    .grid_base {
        display: flex;
        border-radius: 20px;
        border: solid 5px black;
    }
    
}

@media only screen and (max-width: 800px) {

    .liens_grid_main {
        display: grid;
        grid-template-columns: 1fr;
        justify-content: center;
        padding-top: 40px;
        justify-content: space-around;
        place-items: center;
    }

    .liens_text {
        margin-left: auto;
        margin-right: auto;
    }

    .grid_base {
        display: flex;
        border-radius: 20px;
        border: solid 5px black;
    }
    
}
